/* Fonts */ 
body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.24;
}

.banner h1 {
    font-family: "Poppins", sans-serif;
    font-size: 80px;
    font-weight: 400px;
    line-height: 0.9;
    color: rgb(65, 65, 65);
    
}

.banner p {
    font-size: 20px;
    color: rgb(65, 65, 65);
}

.banner .btn {
    font-size: 20px;
    padding: 15px 40px;
}

.gallery h5 {
    color: rgb(133, 212, 14);
}

footer h4 {
    font-size: 50px;
    }

/* SVG Icons */

.navbar .icon {
    margin: 0;
}

.star-icons .icon {
    color: rgb(241, 189, 55);
    width: 18px;
    margin: 0;
}

.testimonials .star-icons .icon {
    width: 15px;
    height: 15px;
}

.icon {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
    color: rgb(55, 28, 211);
} 

footer .icon {
color: rgb(39, 196, 39);
}

.input-container .icon {
    width: 55px;
    height: 55px;
}

.social-icons .icon {
    height: 40px;
    padding: 8px;
    border: 1px solid rgb(182, 181, 181);
    border-radius: 50%;
    margin: 0 5px;
}

/* Banner */ 
.banner-left {
    flex-basis: 50%;
}

.banner-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.banner-right {
    background-image: url(../img/banner-bg.png);
    background-size: cover;
    flex-basis: 50%;
    padding: 40px 0;
}

.btn-outline-secondary {
    border-color: black;
    color: black;
}

.btn-outline-secondary:hover {
    background-color: black;
    color: white;
}


/* Footer */ 
footer {
    padding: 20px;
    background-color: rgb(240, 240, 240);
}

.input-container {
    border-bottom: 1px solid gray;
    width: 100%;
}

.input-container input {
    outline: none;
    border: none;
    background-color: rgb(236, 236, 236);
}

/* Media Query */ 
/* Desktop version */
@media screen and (min-width: 992px) {
    .banner {
        display: flex;
    }

    .banner-left {
        height: 500px;
    }
    
    .banner-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 500px;
    }

    .banner-right p {
        width: 80%;
    }

    .product-specs {
        display: flex;
        align-items: center;
    }

    .product-specs img {
        width: 50%;
    }

    .product-specs-text-column {
    width: 40%;
    }

    .testimonials .col-lg-4 {
    width: 20%;
    }

    .trust-bar .col-lg-4:nth-of-type(2) .p-lg-5 {
    border-left: 1px solid rgb(211, 211, 211);
    border-right: 1px solid rgb(211, 211, 211);
    }

    footer h4 {
    font-size: 50px;
    width: 25%;
    }

    footer p {
        width: 35%;
    }

    .input-container {
    width: 33%;
    }

}