
/* Banner */ 
.banner-left {
    flex-basis: 50%;
}

.banner-right {
    background-image: url(../img/banner-bg.png);
    background-size: cover;
    flex-basis: 50%;
}

/* Banner button */ 
.btn-outline-secondary:hover {
    background-color: black;
    color: white;

}

/* Media Query */ 

/* Desktop version */
@media screen and (min-width: 992px) {
    .banner {
        display: flex;
    }

    .product-specs {
        display: flex;
        align-items: center;
    }

    .product-specs img {
        width: 50%;
    }
    

}