/* Custom Properties */ 
:root {
    --standard-grey: #3D3A38;
    --bg-grey: rgb(240, 240, 240);
    --icon-green: #04DF6C;
    --icon-blue: #2E45CC;
}

/* Fonts */ 
body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.24;
    color: var(--standard-grey);
}

h2, 
h3, 
h4, 
h5 {
    font-family: "Poppins";
    font-weight: 400;
    color: var(--standard-grey)
}

.banner h1 {
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    font-weight: 400px;
    line-height: 0.9;
}

.banner p {
    font-size: 20px;
}

.banner .btn {
    font-size: 20px;
    padding: 15px 40px;
}

.gallery h5 {
    color: var(--icon-green);
}

footer h4 {
    font-size: 50px;
    }

/* SVG Icons */
.navbar .icon {
    height: 40px;
    width: 40px;
    margin: 0;
}

.navbar-toggler {
    border: none;
}

.star-icons .icon {
    color: rgb(241, 189, 55);
    width: 18px;
    height: 18px;
    margin: 0;
}

.testimonials .star-icons .icon {
    width: 15px;
    height: 15px;
}

#accordionFlushExample .accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M8 1v14M1 8h14' stroke='%23000' stroke-width='2'/%3E%3C/svg%3E");
}

#accordionFlushExample .accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M1 8h14' stroke='%23000' stroke-width='2'/%3E%3C/svg%3E");
}

.trust-bar .icon {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
    color: var(--icon-blue);
} 

.input-container .icon {
    width: 55px;
    height: 55px;
    color: #04DF6C;
}

.social-icons .icon {
    width: 40px;
    height: 40px;
    padding: 8px;
    color: var(--icon-green);
    border: 1px solid rgb(182, 181, 181);
    border-radius: 50%;
    margin: 0 5px;
}

.social-icons a {
    text-decoration: none;
}

/* Banner */ 

.banner-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.banner-right {
    background-image: url(../img/banner-bg.png);
    background-size: cover;
    padding: 40px 0;
}

.btn-outline-secondary {
    border-color: black;
    color: black;
}

.btn-outline-secondary:hover {
    background-color: black;
    color: white;
}

/* Testimonials Slider */ 
.slider-container {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: grey;
}

.slider-container.active {
    background-color: transparent;
    border: 2px solid var(--icon-blue);
}

.slider.active {
    width: 10px;
    height: 10px;
    background-color: var(--icon-blue);
    border-radius: 50%;
}

/* Footer */ 
footer,
.gallery {
    padding: 20px 0;
    background-color: var(--bg-grey);
}

.input-container {
    border-bottom: 1px solid gray;
    width: 100%;
}

.input-container input {
    background-color: var(--bg-grey);
}

footer button,
.input-container input {
    outline: none;
    border: none;
}

/* Media Query */ 
/* Desktop version */
@media screen and (min-width: 992px) {
    .banner {
        display: flex;
    }

    .banner-left {
        height: 500px;
        flex-basis: 50%;
}

    .banner-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 500px;
        flex-basis: 50%;
    }

    .banner-right h1 {
      font-size: 80px;
    }

    .banner-right p {
        width: 80%;
    }

    .product-specs {
        display: flex;
        align-items: center;
    }

    .product-specs img {
        width: 50%;
    }

    .product-specs-text-column {
    width: 40%;
    }

    .testimonials .col-lg-4 {
    width: 20%;
    }

    .trust-bar .col-lg-4:nth-of-type(2) .p-lg-5 {
    border-left: 1px solid rgb(211, 211, 211);
    border-right: 1px solid rgb(211, 211, 211);
    }

    footer h4 {
    font-size: 50px;
    }

    footer p {
        width: 35%;
    }

    .input-container {
    width: 33%;
    }
}